.Education-block {
    display: flex;
    flex-direction: column;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #090910;
}
header {
    background-color: #333;
    color: #fafafa;
    padding: 20px 0;
    text-align: center;
}
h1 {
    font-family: Verdana;
    margin: 0;
    font-size: 2em;
}
h3 {
    font-family: Verdana;
}
nav {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #666;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#page-wrapper {
    display: flex;
    flex-direction: row;
}
#page-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#intro-statement {
    color: #fff;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25px;
    font-size: large;
    align-items: center;
    
}
#page-body {
    flex: 10;
    margin-left: 100px;
    align-items: flex-start;
}
#home {
    background-color: #090910;
    box-shadow: none;
}
.school-images {
    height: fit-content;
    width: fit-content;
}
#Haverford-logo {
    height: 25%;
    width: 25%;
}
#univ-images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#intro-statement {
    height: 100vh;
    align-content: center;
    justify-content: center;
    
}
